:root {
  --dark-grey: rgb(216, 216, 216);
  --light-white: rgb(255, 255, 255);
}

#root {
  display: block;
  text-align: center;
}

.App {
  margin: 10px;
  width: 100%;
  max-width: 414px;
  max-height: 896px;
  overflow: hidden;
  display: inline-block;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light-white);
}
