#menu-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px;
  flex: 1;
  background-color: rgb(228, 228, 228);
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 5px;
}

.section-container {
  flex: 1;
  padding: 5px;
  height: 40vh;
  max-height: calc(0.4 * 896px);
  overflow-y: scroll;
}

.item-container {
  flex: 1;
}

.item-head {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.item-price {
  display: flex;
  align-items: flex-end;
}

.option-container {
  flex: 1;
}

.option {
  display: flex;
  justify-content: space-between;
}

.option-select {
  display: flex;
}

.option-price {
  margin-right: 20px;
}

.btn {
  border:0;
  background-color: transparent;
  padding: 0px 3px 3px 1px;
  outline: none;
}

